<ion-content id="register">
  <div class="background-dots p-relative ">
    <div class="black-head p-absolute-0-0 "></div>
    <div class="floating-info p-relative-0-0">
      <div>
        <img class="p-t-20 p-b-20" src="/assets/images/w-logo.svg">
      </div>
      <div class="floating-card p-b-20 p-relative-0-0 m-b-20">
        <div class="card-box ">
          <ion-row class="p-t-10 p-b-10">
            <label class="white-20">Crear una cuenta de tipo paciente.</label>
          </ion-row>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-item class="item-style">
              <ion-label position="floating">Correo</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="email.invalid && email.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingresa un correo valido.
              </ion-text>
            </ion-item>
  
            <ion-item class="item-style">
              <ion-label position="floating">Nombre y apellido</ion-label>
              <ion-input formControlName="fullName" type="text"></ion-input>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="fullName.invalid && fullName.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingresa un nombre valido.
              </ion-text>
            </ion-item>
  
            <ion-item class="item-style">
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input formControlName="phone" matInput mask="(000) 000 0000" type="tel"></ion-input>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="phone.invalid && phone.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingresa un teléfono valido.
              </ion-text>
            </ion-item>
  
            <ion-item class="item-style">
              <!-- <ion-label position="floating">Sexo</ion-label> -->
              <ion-radio-group formControlName="genre">
                <ion-list-header class="p-0">
                  <ion-label class="white-noto-16">Sexo</ion-label>
                </ion-list-header>
                <ion-item class="white-item">
                  <ion-label>Mujer</ion-label>
                  <ion-radio slot="start" [value]="0"></ion-radio>
                </ion-item>
            
                <ion-item class="white-item">
                  <ion-label>Hombre</ion-label>
                  <ion-radio slot="start" [value]="1"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>
            
            <ion-item class="item-style">
              <ion-label position="floating">Fecha de nacimiento</ion-label>
              <ion-datetime class="w-color" formControlName="birthDay" value="1995-01-01" [max]="2021"
                  [dayShortNames]="['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']"
                  displayFormat="DD MMM, YYYY"
                  monthShortNames="Ene, Feb, Mar, Abr, Mey, Jun, Jul, Aug, Sep, Oct, Nov, Dic"></ion-datetime>
            </ion-item>
            
            <ion-item class="item-style">
              <ion-label position="floating">Estatura</ion-label>
              <ion-input formControlName="height" type="number"></ion-input>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="height.invalid && height.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingresa estatura invalida.
              </ion-text>
            </ion-item>
  
            <ion-item class="item-style">
              <ion-label position="floating">Peso</ion-label>
              <ion-input formControlName="weight" type="number"></ion-input>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="weight.invalid && weight.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingresa peso invalido.
              </ion-text>
            </ion-item>
            <!--TO DO: Quitar el label de calle del formulario para que nadamás se vea la palabra dirección.-->
            <ion-item class="item-style">
              <ion-label position="floating">Dirección</ion-label>
              <ion-textarea formControlName="direction"></ion-textarea>
            </ion-item>
            <ion-item class="item-style form-error" *ngIf="direction.invalid && direction.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Ingrese una dirección valida.
              </ion-text>
            </ion-item>
            
            <fiv-password-input
              placeholder="Contraseña"
              formControlName="password"
              class="item-style"
            ></fiv-password-input>
            <ion-item class="item-style form-error p-b-20" *ngIf="password.invalid && password.touched" lines="none">
              <ion-text color="danger" class="form-error">
                La contraseña debe tener al menos 8 caracteres. 
              </ion-text>
            </ion-item>
  
            <fiv-password-input
              placeholder="Repetir contraseña"
              formControlName="passwordConfirm"
              class="item-style"
            ></fiv-password-input>
            <ion-item class="item-style form-error p-b-20" *ngIf="passValidate() && passwordConfirm.touched" lines="none">
              <ion-text color="danger" class="form-error">
                Las contraseñas no coinciden
              </ion-text>
            </ion-item>
  
            <!--<ion-item class="item-style p-b-20 p-t-20">
              <ion-label class="black-14">Acepto los <a class="black-14-underline">términos y condiciones</a></ion-label>
              <ion-checkbox formControlName="acceptTerms" slot="start"></ion-checkbox>
            </ion-item>-->
            <ion-row class="p-t-20">
              <ion-button
            class="blu-100-btn"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Registrarme
            </ion-button>
            </ion-row>
          </form>
          <div class="texal-center p-t-20">
            <p class="clear-14">¿Ya tienes una cuenta?<a routerLink="/login" class="white-underline-16 fw-600 p-l-10">Inicia sesión</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</ion-content>