.form-error {
  font-size: 12px;
}
ion-item {
  --border-color: transparent;
}
.item-w-end {
  width: 100%;
  text-align: end;
}
.line-box {
  display: flex;
  align-items: center;
}
.line {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 0;
}
ion-checkbox {
  margin: 0 15px 0 0;
  --background-checked: #3b1283;
  --border-color-checked: #3b1283;
  --border-color: #3b1283;
}
ion-radio {
  --color: #fff;
  --color-checked: #fff;
  --border-color: #fff;
  border: solid;
  width: 30px;
  border-radius: 50%;
  height: 30px;
}
