<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="disp-flex">
      <ion-buttons slot="start">
        <ion-menu-button class="color-black"></ion-menu-button>
      </ion-buttons>
      <p class="black-24 fw-600">Nosotros</p>
      <img src="/assets/images/logo-img.svg">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="white-card">
    <p class="black-16 textal-just">
      Vesvir es una empresa 100% mexicana, la cual su función es resolver los problemas que tienen las personas al pedir
      en linea, como lo es el no saber si la prenda (talla) le va a quedar como esperaba. Con este nuevo sistema que
      utiliza tecnología VR, ahora es posible “probarse” la ropa de manera virtual para estar seguro/a de tus compras.
    </p>
    <p class="blu-18 fw-600 p-t-40 texal-center">Siguenos en nuestras redes sociales!</p>
    <div class="p-t-20 p-b-20">
      <div class="social-btns">
        <div>
          <a class="fb-btn-logo"><img src="/assets/images/fb-logo.svg"></a>
        </div>
        <p class="p-l-10 black-16 fw-600">Vesvirfacebook/hcsd</p>
      </div>
      <div class="social-btns p-t-20">
        <div>
          <a class=""><img src="/assets/images/instagram.svg"></a>
        </div>
        <p class="p-l-10 black-16 fw-600">@vesvir</p>
      </div>
      <div class="social-btns p-t-20">
        <div>
          <a class=""><img src="/assets/images/twitter.svg"></a>
        </div>
        <p class="p-l-10 black-16 fw-600">@vesvir</p>
      </div>
    </div>
  </div>
  <div class="blue-bottom-box"></div>
</ion-content>