<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="disp-flex-jstart flex-wrap">
      <ion-button class="back-btn" routerLink="/client-home"><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
      <div class="disp-flex-jcenter w-70p">
        <img src="/assets/images/b-logo.svg">
      </div>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="p-10-20">
      <ion-label class="black-16">Personas que monitorean tu estado.</ion-label>

  </ion-row>
  <ion-list>
    <ion-item *ngFor="let monitor of actualMonitors">
          <div class="disp-flex w-100p">
            <div>
              <ion-row>
                <ion-label class="black-16 fw-600">
                  {{monitor.fullName}}
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="black-14">
                  {{monitor.email}}
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="black-14">
                  {{monitor.phone}}
                </ion-label>
              </ion-row>
              
            </div>
            <div>
              <ion-row>
                <div>
                  <ion-button class="black-btn" href="tel:{{monitor.phone}}">
                    <ion-icon name="call-outline"></ion-icon>
                  </ion-button>
                </div>
                <div>
                  <ion-button class="black-btn" href="mailto:{{monitor.email}}">
                    <ion-icon name="mail-outline"></ion-icon>
                  </ion-button>
                </div>
              </ion-row>
              
            </div>
          </div>
    </ion-item>
  </ion-list>
</ion-content>
