<ion-header [translucent]="true">
  <ion-toolbar>
    <div *ngIf="apiLiveDataService.patientConnected == true" class="disp-flex-jstart flex-wrap">
      <ion-buttons slot="start">
        <ion-menu-button class="color-black"></ion-menu-button>
      </ion-buttons>
      <div class="disp-flex-jcenter w-70p">
        <img src="/assets/images/b-logo.svg">
      </div>
    </div>

    <div *ngIf="apiLiveDataService.patientConnected == false" class="disp-flex">
      <ion-buttons slot="start">
        <ion-menu-button class="color-black"></ion-menu-button>
      </ion-buttons>
      <p class="black-18 fw-600">Conectando con paciente</p>
      <img src="/assets/images/heart.svg">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="apiLiveDataService.patientConnected == false">
    <ion-grid>
      <ion-row class="p-10-20">
        <ion-label class="black-18" *ngIf="dataSessionService.user.patient.idUser != undefined && dataSessionService.user.patient.idUser != null">
          Se ha introducido el código {{utilitiesService.fixCode(dataSessionService.user.patient.idUser)}}. Aguarda un momento en lo que se establece la conexión
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-col class="disp-flex-jsc-alc">
          <img src="/assets/images/b-heart.svg">
        </ion-col>
        <ion-col>
          <p class="saving">
            <span>.</span>
            <span class="color-blu">.</span>
            <span>.</span>
            <span class="color-blu">.</span>
          </p>
        </ion-col>
        <ion-col class="disp-flex-jsc-alc">
          <img src="/assets/images/phone.svg">
        </ion-col>
        
      </ion-row>
      <ion-row  class="p-10-20">
        <ion-button (click)='dataSessionService.navigateByUrl("/monitor-select-client")' class="grey-btn">Cancelar</ion-button>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="apiLiveDataService.patientConnected == true">
    <div class="general-card m-t-10">
      <ion-grid>
        <ion-row class="head-card">
          <ion-label class="black-16 fw-600 ">Datos Generales del Paciente</ion-label>
        </ion-row>
        <ion-row class="p-t-5">
          <ion-row>
            <ion-label class="black-14">
              Nombre del paciente : {{actualPatient.fullName}}
            </ion-label>
          </ion-row>
        </ion-row>
        <ion-row class="p-t-5 border-b p-b-10">
          <ion-col>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="blu-16 fw-600 ">
                <span *ngIf="actualPatient.genre == 0">
                  Mujer
                </span>
                <span *ngIf="actualPatient.genre == 1">
                  Hombre
                </span>
              </ion-label>
            </ion-row>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="black-14  ">
                Sexo
              </ion-label>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="blu-16 fw-600 ">
                {{utilitiesService.edad(actualPatient.birthDay)}}
              </ion-label>
            </ion-row>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="black-14 ">
                Edad
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="p-t-5">
          <ion-col>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="blu-16 fw-600 ">
                {{actualPatient.weight}}
              </ion-label>
            </ion-row>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="black-14  ">
                Peso
              </ion-label>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="blu-16 fw-600 ">
                {{actualPatient.height}}
              </ion-label>
            </ion-row>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="black-14  ">
                Estatura
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="disp-block">
          <div class="disp-flex-jcenter">
            <ion-label class="blu-16 fw-600 ">
              56
            </ion-label>
          </div>
          <div class="disp-flex-jcenter">
            <ion-label class="black-14 ">
              Indice de masa corporal o IMC
            </ion-label>
          </div>
        </ion-row>
  
      </ion-grid>
    </div>
    <div>
      <div>
        <ion-grid class="p-t-20">
          <ion-row>
            <ion-col>
              <ion-row class="disp-flex-jcenter">
                <div class="outer-heart">
                  <div class="heart-box">
                    <ion-icon class="pulsingheart" name="heart"></ion-icon>
                  </div>
                </div>
              </ion-row>
            </ion-col>
            <ion-col class="p-t-10">
              <ion-row class="disp-flex-jstart">
                <ion-label class="blu-16 fw-600 ">
                  {{bpmdata}}
                </ion-label>
              </ion-row>
              <ion-row class="disp-flex-jstart">
                <ion-label class="black-14 ">
                  BPM
                </ion-label>
              </ion-row>
            </ion-col>
            <ion-col class="p-t-10">
              <ion-row class="disp-flex-jstart">
                <ion-label class="blu-16 fw-600 ">
                  {{oxigendata}}
                </ion-label>
              </ion-row>
              <ion-row class="disp-flex-jstart">
                <ion-label class="black-14 ">
                  Saturación Oxigeno
                </ion-label>
              </ion-row>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-row class="disp-flex-jcenter">
                <ion-label class="black-14 ">
                  Respiración : {{airFlow}}
                </ion-label>
              </ion-row>
              <ion-row class="disp-flex-jcenter">
                <ion-progress-bar color="primary" [value]="airFlowPercent*0.01"></ion-progress-bar>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
    </div>
  </div>
  <ion-grid class="p-t-20" [style]="apiLiveDataService.patientConnected == true ? '' : 'display: none;'">
    <ion-row class="p-0-15">
      <!-- <img src="/assets/images/fake-beat.svg"> -->
      <canvas #lineCanvas></canvas>
    </ion-row>
    <ion-row class="p-0-15">
      <ion-button href="tel:{{dataSessionService.user.patient.phone}}" class="blu-100-btn">
        <ion-icon name="call-sharp" class="p-r-5"></ion-icon>
        Llamar
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>