<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="disp-flex">
      <ion-buttons slot="start">
        <ion-menu-button class="color-black"></ion-menu-button>
      </ion-buttons>
      <img src="/assets/images/b-logo.svg">
      <ion-button (click)="dataSessionService.navigateByUrl('/client-monitors-list')" class="black-btn">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="general-card m-t-10">
    <ion-grid>
      <ion-row class="head-card">
        <ion-label class="black-16 fw-600 ">Datos Generales</ion-label>
      </ion-row>
      <ion-row class="p-t-5 border-b p-b-10">
        <ion-col>
          <ion-row class="disp-flex-jcenter">
            <ion-label class="blu-16 fw-600 ">
              <span *ngIf="actualPatient.genre == 0">
                Mujer
              </span>
              <span *ngIf="actualPatient.genre == 1">
                Hombre
              </span>
            </ion-label>
          </ion-row >
          <ion-row class="disp-flex-jcenter">
            <ion-label class="black-14  ">
              Sexo
            </ion-label>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="disp-flex-jcenter">
            <ion-label class="blu-16 fw-600 ">
              {{utilitiesService.edad(actualPatient.birthDay)}}
            </ion-label>
          </ion-row>
          <ion-row class="disp-flex-jcenter">
            <ion-label class="black-14 ">
              Edad
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="p-t-5">
        <ion-col>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="blu-16 fw-600 ">
                {{actualPatient.weight}}
              </ion-label>
            </ion-row>
            <ion-row class="disp-flex-jcenter">
              <ion-label class="black-14  ">
                Peso
              </ion-label>
            </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="disp-flex-jcenter">
            <ion-label class="blu-16 fw-600 ">
              {{actualPatient.height}}
            </ion-label>
          </ion-row>
          <ion-row class="disp-flex-jcenter">
            <ion-label class="black-14  ">
              Estatura
            </ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="disp-block">
        <div class="disp-flex-jcenter">
          <ion-label class="blu-16 fw-600 ">
            56
          </ion-label>
        </div>
        <div class="disp-flex-jcenter">
          <ion-label class="black-14 ">
            Indice de masa corporal o IMC
          </ion-label>
        </div>
      </ion-row>
      <hr>
      
    </ion-grid>
  </div>
  <div>
    <ion-grid class="p-t-20">
      <ion-row>
        <ion-col>
          <ion-row class="disp-flex-jcenter">
            <div class="outer-heart">
              <div class="heart-box">
                <ion-icon class="pulsingheart" name="heart"></ion-icon>
              </div>
            </div>
          </ion-row>
        </ion-col>
        <ion-col class="p-t-10">
          <ion-row class="disp-flex-jstart">
            <ion-label class="blu-16 fw-600 ">
              52
            </ion-label>
          </ion-row>
          <ion-row class="disp-flex-jstart">
            <ion-label class="black-14 ">
              BPM
            </ion-label>
          </ion-row>
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <img src="/assets/images/fake-beat.svg">
  </div>
  <ion-grid class="p-t-20">
    <ion-row class="p-0-15">
      <ion-button class="blu-100-btn">
        <ion-icon name="alert-circle-sharp" class="p-r-5"></ion-icon>
        Enviar Alerta
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>