ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: #EEE4FF;
}

ion-menu.md ion-item.selected ion-icon {
  color: #43A6AC;
  --background: rgba(0, 0, 0 , .3);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}
ion-item.selected.item.ios.item-lines-none.in-list.ion-activatable.ion-focusable.hydrated.item-label{
  --background: rgba(59, 18, 131 , .05);
}
ion-menu.ios ion-item.selected ion-icon {
  color: #43A6AC;
  
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #000000;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: #43A6AC;
}
.head-box{
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.category-list{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-list-btn{
  width: 100%;
  --background: transparent;
  --color: #000000;
  --background-activated: rgba(0, 0, 0 , .05);
  --background-focused: rgba(0, 0, 0 , .05);
  --background-hover: transparent;
  --border-radius: 0;
  text-align: start;
  outline: transparent;
  --box-shadow:none;
  text-transform: initial;
}
.category-list-btn-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ion-segment{
  height: 50px;
  ion-segment-button{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    border: 0px;
    font-weight: 800;
    border-radius: 0px;
    text-transform: initial;
      height: 40px;
      --indicator-height: 0;
      --border-radius: 0px;
      border: 0px;
      border-radius: 0px;
  }
  
}
.segment-button-checked{
  background: #FFF;
  color: #43A6AC;
  border-bottom: 3px solid #43A6AC !important;
}
.logout-btn{
  width: 100%;
  --border-radius: 0;
  --background-activated: rgba(0, 0, 0 , .05);
  --background-focused: rgba(0, 0, 0 , .05);
  --background-hover:  transparent;
  --background: transparent;
  --color: #43A6AC;
  font-family: 'Quicksand', sans-serif;
  --box-shadow:none;
}