<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="disp-flex">
      <ion-buttons slot="start">
        <ion-menu-button class="color-black"></ion-menu-button>
      </ion-buttons>
      <p class="black-24 fw-600">Contáctanos</p>
      <img src="/assets/images/logo-img.svg">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="white-card">
    <p class="black-16 texal-center">
      En Vesvir estamos 100% comprometidos con el cliente y su satisfacción.
    </p>
    <p class="black-18 fw-600 p-t-40 texal-center">Atención al cliente</p>
    <div class="p-t-20 p-b-20 texal-center">
      <p class="black-16 texal-center">Tel</p>
      <a href="tel:555-555-5555" class="blu-16 texal-center fw-800">+52 123 4567</a>
      <p class="black-16 texal-center p-t-20">Correo</p>
      <a href="mailto:Vesvir@hotmail.com"class="blu-16 texal-center fw-800">Vesvir@hotmail.com</a>
      <div class="p-t-40">
        <img src="/assets/images/contact-img.svg">
      </div>
    </div>
  </div>
  <div class="blue-bottom-box"></div>
</ion-content>