<ion-content>
  <div class="blue-head">
    
  </div>
  <div class="floating-info">
    <div>
      <img class="p-t-20" src="/assets/images/logo.svg">
      <p class="white-20 fw-800 p-t-10 p-b-10">Inicia sesión</p>
    </div>
    <div class="floating-card p-b-20">
      <div class="card-box">
        <ion-row>
          <ion-button
            class="blu-100-btn"
            routerLink="/client-user-register" 
          >
          Paciente
          </ion-button>
          <ion-button
            class="blu-100-btn"
            routerLink="/monitor-user-register" 
          >
          Usuario Monitor
          </ion-button>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
